/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.imgCopy {
    max-width: 10px;
    height: auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


button.button-header {
  background-color: #c9c5c5;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer; /* Add this for visual feedback */
}

    button.button-header:hover {
        background-color: #e4e4e4;
        color: #e6dada; /* Adjust if needed */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
    }


/*.card {
    box-shadow: 4px 6px 13px -3px rgba(79, 55, 55, 0.75);
    -webkit-box-shadow: 4px 6px 13px -3px rgba(79, 55, 55, 0.75);
    -moz-box-shadow: 4px 6px 13px -3px rgba(79, 55, 55, 0.75);
    background-color: #ededed;
    width: 300px;
    height: 300px;
    display: flex;
    gap: 2rem;
    
}
*/

main {
    padding: 20px;
    flex: 1;
}



footer {
    background: #111;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


div.footer-bottom {
    padding: 25px;
    text-align: center;
}

div.footer-bottom p {
    color: #ab9999;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}

div.footer-bottom span {
    opacity: .6;
    font-weight: 400;
}

div.btn-footer {
    position: absolute;
    right: 40px;
    gap: 0.7rem;
    display: flex;
}

div.btn-footer a {
    color: #ab9999;
}

div.btn-footer a:hover {
    color: #e5e5e5;
}