@model EcommerceCCO2023.Models.Cliente

<link rel="stylesheet" href="/css/login.css" />


@{
    ViewData["Title"] = "Login";
}

@* <div>
    <img src="./images/home.png"/>
</div> *@


<div class="form-container sign-in">
    <form asp-controller="Login" asp-action="IndexLogin" method="POST">
        <h1>Entrar</h1>

        <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>ou use seu email e senha</span>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email"></span>
        <input asp-for="Senha" type="password" class="form-control" placeholder="Senha" />
        <span asp-validation-for="Senha"></span>
        <a href="#">Esqueceu a senha?</a>
        <div class="container-btn-login">
            <button>Entrar</button>
            <button><a asp-action="Create" asp-controller="Cliente" class="text-white">Criar conta</a></button>
        </div>
    </form>
</div>
